<!DOCTYPE html>
<html lang="ca">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My App</title>
	<link href="../../static/my_app.css" rel="stylesheet">
</head>

<body>
   <h3>Products {{ product['id'] }}</h3>

   <form action="/product/{{ product.id }}" method = "POST">
      <p><label>Title: <input type = "text" name = "title" value = "{{ product.title }}"/></label></p>
      <p><label>Description: <input type = "text" name = "description" value = "{{ product.description }}"/></label></p>
      <p><input type = "submit" value = "MODIFICAR" /></p>
   </form>
   <a href="/product">&#x3c;&#x3c; Tornar al llistat de productes</a>
</body>

</html>
