body {
    background-color: #888;
}

table {
    width: 100%;
}

td, th {
    border: 1px solid white;
    color: black;
    padding: 4px
}
a {
    
    padding: 4px;
    text-decoration: none;
    color: black;
}
a:hover {
    background-color: #424242;
    padding: 4px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.crear {
    background-color: #1f1f1f; 
    border: 1px solid white;
    color: #fff; 
    padding: 6px 14px; 
    border-radius: 2px; 
    font-size: 16px; 
    cursor: pointer;
  }
  .crear:hover {
    background-color: #4d4d4d; 
  }