body {
    background-color: rgb(58, 58, 58);
}

h1 {
    display: flex;
    color:rgb(255, 255, 255);
    justify-content: center;
}

img{
    display: flex;
    align-items: center;
    justify-content: center;
}