body {
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 58, 58);
}

h1 {
    color:rgb(255, 255, 255);
    text-align: center;
}
img{
    margin: auto;
    border: solid 2px white;
}